
<footer style="text-align: center; padding: 20px; background-color: #333; color:white">
    <div>
        <a href="#"><img src="/restaurant/facebook2.png" alt="Facebook" style="height: 30px; margin-right: 3px;"></a>
        <a href="#"><img src="/restaurant/instagram2.png" alt="Instagram" style="height: 30px; margin-right: 3px;"></a>
    </div>

    <p>Tel: 437-777-4567</p>
    <p>GBC Eats</p>
    <p>©2024 GBC Eats in Canada</p>
</footer> 