<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/App.css">
    <link rel="stylesheet" href="/style/Order.css">
</head>
<body>
    <%- include('../../component/order/Order_hd') %> <!-- Header -->

    <h1>This is Order Status Cutsomer Form</h1>

    <div id="div-bottom"></div> <!-- Make page looks not too empty -->
    <%- include('../../component/order/Order_ft') %> <!-- Footer -->
</body>
</html>