
<footer style="text-align: center; padding: 20px; background-color: #333; color:white">
    <div>
        <a href="#"><img src="/restaurant/facebook2.png" alt="Facebook" style="height: 30px; margin-right: 3px;"></a>
        <a href="#"><img src="/restaurant/instagram2.png" alt="Instagram" style="height: 30px; margin-right: 3px;"></a>
    </div>

    <p>Tel: 437-123-4567</p>
    <p>OMG Japanese Restaurant</p>
    <p>160 Kendal Ave, Toronto, ON M5R 1M3</p>
    <p>©2024 OMG Japanese Restaurant in Canada</p>
</footer> 