<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/App.css">
    <link rel="stylesheet" href="/style/Restaurant.css">
</head>
<body>
    <%- include('../../component/restaurant/Restaurant_hd') %> <!-- Header -->
    <h1>Fina a Table</h1>

    <p>Select a Restaurant</p>
    <p>Schedule</p>
    <p>Time</p>
    <p>People</p>
    <button>Find a Table</button>
    <p></p>


    <div id="div-bottom"></div> <!-- Make page looks not too empty -->
    <%- include('../../component/restaurant/Restaurant_ft') %> <!-- Footer -->
</body>
</html>