<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/App.css">
    <link rel="stylesheet" href="/style/Restaurant.css">
</head>

<body>
    <%- include('../../component/restaurant/Restaurant_hd') %> <!-- Header -->

        <h1>About</h1>
        <p>Welcome to OMG Japanese Restaurant, where we bring the rich traditions of Japanese cuisine to your table.
            Located in the heart of the city, OMG offers an exciting fusion of flavors, with a menu that celebrates the
            best of Sushi, Ramen, and traditional Japanese beverages.</p>
        <p>At OMG Japanese Restaurant, we are committed to delivering a relaxed yet refined dining experience,
            showcasing authentic Japanese culinary techniques. Our menu includes expertly crafted sushi, savory ramen
            bowls, and a selection of refreshing sakes and handcrafted cocktails. Whether you're craving classic
            favorites or something new, our dishes are designed to delight your palate.</p>
        <p>Immerse yourself in our dynamic atmosphere as you enjoy shareable plates, hearty main dishes, and uniquely
            crafted drinks. Savor signature creations like our OMG Sushi Platter, Tonkotsu Ramen, and Japanese-inspired
            cocktails, all made with the finest ingredients.</p>
        <p>Pair your meal with our extensive selection of premium sakes, cocktails, and non-alcoholic beverages,
            thoughtfully curated to enhance the flavors of our dishes. Whether you're in the mood for a light drink or
            something bold, we have something for everyone.</p>



        <h1>Contact Us</h1>
        <p>OMG Japanese Restaurant</p>
        <p>Tel: 437-123-4567</p>
        <h1>Locations</h1>
        <p>160 Kendal Ave, Toronto, ON M5R 1M3</p>

        <div id="div-bottom"></div> <!-- Make page looks not too empty -->
        <%- include('../../component/restaurant/Restaurant_ft') %> <!-- Footer -->
</body>

</html>